extends ./base.jade
block append style
    link(rel="stylesheet", type="text/css", href="/assets/style.css")
    link(rel="stylesheet", type="text/css", href="/assets/list.css")
block body
  nav
    a(href="/login")
      img#logo(src="/assets/img/icon.png", alt="face logo")
    .navlink
      a(href="/logout") Log out
    .navlink
      a(href="/gallery") Gallery
    .navlink
      a(href="/list") List
    .navlink
      a(href="/thumb") Thumb
  section#makeScrape
    form#scrapeForm(class="scrapeForm", name="scrapeForm", action="/list", method="POST")
      label(for="url") URL: 
      input#scrapeURL(type="text", name="url", placeholder="URL")
      label(for="query") Query: 
      input#scrapeQuery(type="text", name="query", placeholder="ie 6UL wheels")
      a#makeScrapeSubmit(class="makeScrapeSubmit", href="#") Make new Scrape
  section#content
    section#scrapeList
      if !scrapes || scrapes.length == 0
          div.scrape
              h3.emptyScrape No Scrapes yet
      else
          each val in scrapes
              div.scrape
                p.scrapeURL Scraping: a(href="#{val.url}") #{val.url}
                p.scrapeQuery For: #{val.query}
    section#resultList
      if !scrapes || scrapes.length == 0
          div.result
              h3.emptyResult No Results yet
      else
          each val in scrapes
            each item in val.results
              div.Result
                a(class="#{val.url}" href="#{item.url}") Result
block scripts
        script(src="/assets/maker.js")